<div class="div-global">
  <div class="sidebar"><app-side-bar-info></app-side-bar-info></div>
  <div class="page-content">
    <div class="page-name">
      <div class="arianne">
        <button class="round-button" disabled routerLink='/template-cv'>1</button>
        <p>Creer un nouveau CV</p>
        <button class="round-button" routerLink='/general-info'>2</button>
        <button class="round-button" routerLink='/hard-skills'>3</button>
        <button class="round-button" routerLink='/soft-skills'>4</button>
        <button class="round-button" routerLink='/experience-pro'>5</button>
        <button class="round-button" routerLink='/availability'>6</button>
      </div>
    </div>
    <div class="background">
      <div class="choisir-template">
        <h3>Choisissez un template de CV:</h3>
        <div class="bref-resume">
          <div class="templates">
            <img
              
              src="/assets/img/cv_exemple2.png"
              alt="template1"
            />
            <img
              src="/assets/img/cv_exemple2.png"
              alt="template2"
            />
            <img
              src="/assets/img/cv_exemple2.png"
              alt="template3"
            />
            <img
              src="/assets/img/cv_exemple2.png"
              alt="template4"
            />
            <img
              src="/assets/img/cv_exemple2.png"
              alt="template5"
            />
            <img
              src="/assets/img/cv_exemple2.png"
              alt="template6"
            />
            <img
              src="/assets/img/cv_exemple2.png"
              alt="template7"
            />
            <img
              src="/assets/img/cv_exemple2.png"
              alt="template8"
            />
            <img
              src="/assets/img/cv_exemple2.png"
              alt="template9"
            />
          </div>
        </div>
      </div>
      <div class="cv-apercu">
        <div>
          <h3>Aprecu de template CV:</h3>
        </div>

        <div class="cvexemple">
          <div class="cv-image">
            <img src="/assets/img/cv_exemple2.png" alt="Exemple du cv" />
          </div>
        </div>
        <div class="button-class" >
            <button routerLink='/general-info'>Suivant</button>
        </div>
      </div>
      
    </div>
  </div>
</div>
