<div class="background">
    <div class="form">
        <form [formGroup]="profileForm" (submit)="onSubmit()">
            <div class="form-field">
                <div><label>Email</label></div>
                <div><input type="email" required formControlName="email"></div>
            </div>
            <div class="form-field">
                <div><label>Mot de passe</label></div>
                <div><input type="password" required formControlName="password" ></div>
            </div>
                <br>
            <div class="nav-buttons">
                <button type="submit" [disabled]="!profileForm.valid">Se connecter</button>
            </div>
        </form>
    </div>
</div>