<div class="background">
    <form ngForm #userForm="ngForm" (submit)="onFormSubmit(userForm)">
        <div>
            <label>Email</label>
            <input type="text" ngModel name="email" id="email" class="form-control" required>
        </div>
        <div>
            <label>Mot de passe</label>
            <input type="text" ngModel name="password" id="password" class="form-control" required>
        </div>
            <br>
        <div>
            <button type="submit" [disabled]="userForm.invalid" (click)="resetUserForm(userForm)" routerLink='/profile'>Se connecter</button>
        </div>
    </form>
</div>