<div class="background">
    <form [formGroup]="profileForm" (submit)="onSubmit()">
        <div>
            <label>Email</label>
            <input type="email" required formControlName="email">
        </div>
        <div>
            <label>Mot de passe</label>
            <input type="password" required formControlName="password" >
        </div>
            <br>
        <div>
            <button type="submit" [disabled]="!profileForm.valid">Se connecter</button>
        </div>
    </form>
</div>