<div class="div-global">
    <div class="sidebar"><app-side-bar-info></app-side-bar-info></div>
    <div class="page-content">
        <div class="page-name">
            <div class="arianne">
              <button class="round-button" routerLink="/template-cv">1</button>
              <button class="round-button" routerLink="/general-info">2</button>
              <button class="round-button" routerLink="/hard-skills">3</button>
              <button class="round-button" routerLink="/soft-skills">4</button>
              <button class="round-button" disabled routerLink="/experience-pro">5</button>
              <p class="name-arianne">Experience professionnelle et vos loisirs</p>
              <button class="round-button" routerLink="/availability">6</button>
            </div>
        </div>
    </div>
</div>