.matcard {
    max-width: 400px;
  }
  
  .header-image {
    background-image: url('/assets/Photo_profil.jpg');
    background-size: cover;
  }

  .bref-resume {
      background-color: white;
      height: 100px;
  }
  
  .field {
      padding-top: 5px;
      padding-bottom: 5px;
  }

  .photo {
      width: 100%;
      margin: 0%;
  }