.matcard {
    max-width: 400px;
  }
  
  .header-image {
    background-image: url('/assets/Photo_profil.jpg');
    background-size: cover;
  }

  .bref-resume {
      background-color: white;
      height: 100px;
  }
  